# Core web
streamlit

# ML / ASR
openai-whisper
torch==2.2.2+cpu

# Audio
librosa
soundfile
ffmpeg-python

# NLP / metrics
python-Levenshtein
numpy<2

# Stability for Py 3.12
numba>=0.59
llvmlite>=0.42
